<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
	<!-- base href="http://louisville.edu/nursing/front-page/" / -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="generator" content="Plone - http://plone.org" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>School of Nursing</title>
	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap.min.css" />
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap-responsive.min.css" />
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap-glyphicons.css" />
	<link rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/resourcecollective.js.fullcalendarfullcalendar-cachekey-4417d178874bf62938ceb40b67953c9c.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/base.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/breadcrumbs.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/footers.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/faculty.css" />
	<link rel="stylesheet" type="text/css" media="print" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/print.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/graduatecatalog.css" />
	<link rel="stylesheet" type="text/css" media="all" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/solgema_contextualcontentmenu-cachekey-94b258bf23918102e43459a86e16dc38.css" />
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/jquery.kwicks.min.css" />
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/theme.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/theme.ie.css" />
<![endif]-->
	<link class="themecss site-theme nursing-theme" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/nursing.css" />
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/resourceflowplayer-3.2.6.min-cachekey-265336417568d2613678d079a7149510.js"></script>
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/resourceflowplayer.ipad-3.2.2.min-cachekey-a6a4a22877046a67dfb275638bf938d7.js"></script>
	<style>
		/* Local CSS from site root */
#lowerbar .sprite-medicine { background:transparent; }


#hero-rows .portlet-static-config,
#hero-rows .portlet-static-hero-slider,
#hero-rows .portlet-static-main-site-nav-social { display:none; }

.visualClear { clear: both; }
/* Local CSS from /front-page */
.main-content .focal {
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: wrap;
}

.main-content .focal > [class*="span"] {
    border-top: 0 none;
  display: -moz-flex;
  display: -webkit-flex;
    flex-direction: column;
}

.main-content .focal .wrapper {
  display: -moz-flex;
  display: -webkit-flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

/* hide HR */
#main-content .hr-top {
  display: none;
}

/* fix deadlines margins */
.deadlines h5 {
   margin: 0;
}

/* make cta red */
.cta {
  background-color: #ad0000;
}

/* for 5th box */
#main-content .span3:nth-child(n+5) {
    margin-top: 20px;
}
</style>
</head>

<body class="template-document_view portaltype-document site-site-nursing section-front-page icons-on userrole-anonymous">
	<a href="#view-main-content" class="reader-skip">Skip to Main Content</a>
	<div id="fb-root"></div>
	<script>(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<header id="masthead">
		<div id="upperbar" class="med-nav-collapse collapse upperbar">
			<div class="container">
				<ul class="nav nav-pills pull-right account">
					<li><a href="http://louisville.edu"><i class="glyphicon glyphicon-home"></i>Louisville.edu</a></li>
					<li><a href="http://louisville.edu/hsc" class="hsc-link"><i class="glyphicon glyphicon-globe"></i>Health Sciences Center</a></li>
					<li class="dropdown hidden-phone"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>My Accounts<b class="caret"></b></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="https://exchange.louisville.edu/">Exchange</a></li>
							<li class="divider"></li>
							<li><a href="https://outlook.com/cardmail.louisville.edu">CardMail</a></li>
							<li class="divider"></li>
							<li><a href="https://hrprod.louisville.edu/">PeopleSoft HR</a></li>
							<li class="divider"></li>
							<li><a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a></li>
							<li class="divider"></li>
							<li><a href="https://financials.louisville.edu/">PeopleSoft Financials</a></li>
							<li class="divider"></li>
							<li><a href="https://ulink.louisville.edu/">ULink</a></li>
							<li class="divider"></li>
							<li><a href="https://blackboard.louisville.edu/">Blackboard</a></li>
							<li class="divider"></li>
							<li><a href="login">Plone</a></li>
						</ul>
					</li>
					<li class="visible-phone"><a data-toggle="collapse" class="upperbar-accounts-collapse collapsed chevron-collapse visible-phone" href="#account-dropdown-2">My Accounts<i class="glyphicon glyphicon-chevron-right visible-phone"></i></a>
						<div class="account-collapse collapse" id="account-dropdown-2">
							<ul>
								<li><a href="https://exchange.louisville.edu/">Exchange</a></li>
								<li class="divider"></li>
								<li><a href="https://outlook.com/cardmail.louisville.edu">CardMail</a></li>
								<li class="divider"></li>
								<li><a href="https://hrprod.louisville.edu/">PeopleSoft HR</a></li>
								<li class="divider"></li>
								<li><a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a></li>
								<li class="divider"></li>
								<li><a href="https://financials.louisville.edu/">PeopleSoft Financials</a></li>
								<li class="divider"></li>
								<li><a href="https://ulink.louisville.edu/">ULink</a></li>
								<li class="divider"></li>
								<li><a href="https://blackboard.louisville.edu/">Blackboard</a></li>
								<li class="divider"></li>
								<li><a href="login">Plone</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="lowerbar" class="navbar navbar-static-top">
			<div class="navbar-inner non-hsc">
				<div class="container">
					<div class="row-fluid">
						<div class="span2">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".med-nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<div class="sr-only">Menu</div>
							</a>

							<a href="http://louisville.edu/nursing" class="logo">
								<div class="sprite sprite-nursing"></div>
							</a>

						</div>
						<div class="span4 visible-desktop">
							<form class="search" id="search-form">
								<label for="search-box">Search UofL</label>
								<div class="input-append">
									<input type="search" class="search" placeholder="Search pages, people" name="q" size="25" results="10" id="search-box" /><button type="submit" value="Go" name="btnHeaderSearch" class="btn">Go</button>
								</div>
							</form>
						</div>
						<div class="span6">
							<nav class="nav-collapse collapse med-nav-collapse">
								<div class="visible-tablet visible-phone dropdown">
									<a class="btn btn-small hidden-phone" data-toggle="dropdown" data-target=".tablet-search"><i class="glyphicon glyphicon-search">
											<div class="sr-only">Search</div>
										</i></a>
									<div class="tablet-search visible-phone">
										<form class="search" id="mobile-search-form">
											<label for="search-box">Search UofL</label>
											<div class="input-append">
												<input type="search" class="search" placeholder="Search pages, people" name="q" size="25" results="10" id="search-box" /><button type="submit" value="Go" name="btnHeaderSearch" class="btn">Go</button>
											</div>
										</form>
									</div>
								</div>
								<div data-widget-host="habitat" class="preview">
									<script type="text/props">
										{ "color": "red"}
									</script>
								</div>
								<script async src="/bundle.js"></script>
							</nav>
						</div>
					</div>
				</div>
			</div>

		</div>
	</header>
	<div class="page-wrapper homepage-wrapper">
		<div id="alert" class="container">
			<div class="row">
				<div class="span12"></div>
			</div>
		</div>

		<div class="hero-content">
			<div class="hero-inner">
				<ul class="kwicks kwicks-horizontal hidden-phone"></ul>
				<ul class="kwicks kwicks-vertical visible-phone"></ul>
			</div>
		</div>

		<a class="skip-marker" name="view-main-content" id="view-main-content"></a>

		<div class="med-hero">
			<div class="med-hero-wrapper"></div>
			<div class="med-hero-nav">
				<div class="container">
					<i class="glyphicon glyphicon-chevron-left"></i>
					<i class="glyphicon glyphicon-chevron-right"></i>
					<div class="button-nav">
						<ul></ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container cta">
			<div class="row-fluid">
				<div class="span9">
					<p><em><strong><span style="text-align: center; width: 0px; display: inline !important; float: none;">University of Louisville. . . . Your future in nursing starts here<br /></span></strong></em></p>
				</div>
				<div class="span3"><a class="tile" href="http://louisville.edu/nursing/front-page/academics/academic-programs">Apply Now</a></div>
			</div>
		</div>

		<div class="container homepage main-content" id="main-content">
			<div class="row-fluid focal">
				<div class="span4">
					<p><img src="http://louisville.edu/nursing/focal-portlets/images/owensboro-students-fall-2018" alt="" class="image-inline" title="Owensboro Students Fall 2018 - cropped" /></p>
					<div class="wrapper">
						<h4 style="text-align: center; ">Owensboro Extension BSN students are back in session</h4>
						<p><a title=" Owensboro extension for the University of Louisville School of Nursing" href="http://louisville.edu/nursing/focal-portlets/owensboro-extension" class="internal-link" target="_self"><span class="internal-link"><span class="btn btn-block btn-large btn-nursing">Learn more</span></span></a></p>
					</div><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
				</div>
				<div class="span4">
					<p><img src="http://louisville.edu/nursing/focal-portlets/images/care-partners/@@images/e86d83c0-b54a-4dad-a28b-b955691354b5.jpeg" alt="" class="image-inline" title="UofL Care Partners" /></p>
					<div class="wrapper">
						<p><strong>UofL Care Partners</strong> is a new nurse-managed health care clinic at the School of Dentistry.<br />To become a patient call 502-852-CARE (2273).</p>
						<p><a class="external-link" href="https://louisville.edu/dentistry/news/new-clinic-gives-dental-patients-immediate-access-to-nurse-practitioner-managed-care" target="_self" title=""><span class="btn btn-block btn-large btn-nursing external-link">Learn More</span></a></p>
					</div><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
				</div>
				<div class="span4">
					<p><img src="http://louisville.edu/nursing/focal-portlets/images/sonya-hardin-crop" alt=" " class="image-inline" title="Sonya Hardin - cropped" /></p>
					<div class="wrapper">
						<h4 style="text-align: center; ">Sonya Hardin, PhD, MBA, MHA, CCRN, NP-C, FAAN</h4>
						<p style="text-align: center; ">Announcing the new Dean of Nursing</p>
						<p><a title=" New Dean Named for the School of Nursing" href="http://louisville.edu/nursing/focal-portlets/sonya-hardin" class="internal-link" target="_self"><span class="btn btn-block btn-large btn-nursing">Learn more</span></a></p>
					</div><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
				</div>
			</div>

			<hr class="hr-top" />
			<div class="row-fluid">
				<section class="span3 med-news">
					<header>
						<h1><a href="http://louisville.edu/nursing/news" class="tile">News</a></h1>
						<h2><a href="http://louisville.edu/nursing/news">More News</a></h2>
					</header>
					<ul>
						<li><a href="http://louisville.edu/nursing/news/school-of-nursing-professor-receives-national-educator-award" class="tile" title=""><span class="date">Sep 27, 2018</span>

								School of Nursing professor receives national educator award
							</a></li>
						<li><a href="http://louisville.edu/nursing/news/brief-psychotherapy-benefits-women-caring-for-children-with-severe-health-issues" class="tile" title=""><span class="date">Sep 18, 2018</span>

								Brief psychotherapy benefits women caring for children with severe health issues
							</a></li>
						<li><a href="http://louisville.edu/nursing/news/school-of-nursing-info-sessions-and-open-house-sept-25" class="tile" title=""><span class="date">Aug 22, 2018</span>

								School of Nursing info sessions and open house Sept. 25
							</a></li>
						<li><a href="http://louisville.edu/nursing/news/uofl2019s-first-dnp-class-marks-transition-to-advanced-clinical-care-at-white-coat-ceremony" class="tile" title=""><span class="date">Aug 17, 2018</span>

								UofL’s first DNP class marks transition to advanced clinical care at white coat ceremony
							</a></li>
						<li><a href="http://louisville.edu/nursing/news/learn-more-about-mepn-second-degree-program-at-sept-6-info-session" class="tile" title=""><span class="date">Aug 14, 2018</span>

								Learn more about MEPN second degree program at Sept 6 info session
							</a></li>
					</ul>
					<footer><a href="http://louisville.edu/nursing/news">More News</a></footer>
				</section>
				<section class="span3">
					<header>
						<h1><span class="portletTopLeft"></span><span><a class="tile" href="http://events.louisville.edu/search/events?search=nursing">Events</a></span><span class="portletTopRight"></span></h1>
					</header>
					<div class="wrapper">
						<p> </p>
						<script src="//events.louisville.edu/widget/view?schools=louisville&amp;types=25508&amp;days=365&amp;num=8&amp;hidedesc=1" type="text/javascript"></script><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
					</div>
				</section>
				<section class="span3">
					<header>
						<h1><span class="portletTopLeft"></span><span><a class="tile" href="academics/academic-programs">Academic Programs</a></span><span class="portletTopRight"></span></h1>
					</header>
					<div class="wrapper">
						<div class="deadlines">
							<h5 style="padding-left: 30px; ">Application Deadlines</h5>
							<p> </p>
							<h5><a title="Traditional BSN Program – Louisville" href="http://louisville.edu/nursing/academics/bsn/louisville/about-the-program" class="internal-link" target="_self">BSN Program – Louisville (Lower Division)</a></h5>
							<p style="padding-left: 30px; "><strong>Fall: Feb. 15</strong><br /><strong>Spring: Nov. 1</strong><br /><strong>Summer: March 1</strong></p>
							<h5><a title="Traditional BSN Program – Owensboro" href="http://louisville.edu/nursing/academics/bsn/owensboro/about-the-program" class="internal-link" target="_self">BSN Program – Owensboro </a><a title="Traditional BSN Program – Louisville" href="http://louisville.edu/nursing/academics/bsn/louisville/about-the-program" class="internal-link" target="_self">(Lower Division)</a></h5>
							<p style="padding-left: 30px; "><strong>Fall: July 1</strong><br /><strong>Spring: Dec. 1</strong></p>
							<h5><a title="RN-BSN Online Program" href="http://louisville.edu/nursing/academics/rn-bsn/rn-bsn" class="internal-link" target="_self">RN-BSN Online Program</a></h5>
							<p style="padding-left: 30px; "><strong>Fall: July 1</strong><br /><strong>Spring: Dec. 1</strong></p>
							<h5><a title="MSN Program" href="http://louisville.edu/nursing/academics/msn/about-the-program" class="internal-link" target="_self">MSN Program</a></h5>
							<p style="padding-left: 30px; "><strong>Feb. 1</strong></p>
							<h5><a title="MEPN Program" href="http://louisville.edu/nursing/academics/mepn-program/mepn" class="internal-link" target="_self">MEPN Program</a></h5>
							<p style="padding-left: 30px; "><strong>Oct 15</strong></p>
							<h5><a title=" Doctor of Nursing Practice" href="http://louisville.edu/nursing/academics/dnp/about-the-program" class="internal-link" target="_self">DNP Program</a></h5>
							<p style="padding-left: 30px; "><strong>Feb. 1 </strong><em>(May be considered</em><br /><em>after the deadline on</em><br /><em>a space available basis.)<strong><br /></strong></em></p>
							<h5><a title="PhD Program" href="http://louisville.edu/nursing/academics/phd/about-the-program" class="internal-link" target="_self">PhD Program</a></h5>
							<p style="padding-left: 30px; "><strong>Jan. 15 </strong><em>(May be considered</em><br /><em>after the deadline <em>on</em></em><br /><em>a space available basis</em>.)</p>
						</div><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
					</div>
				</section>
				<section class="span3">
					<header>
						<h1><span class="portletTopLeft"></span><span><a class="tile" href="http://louisville.edu/nursing/academics/bsn/b.s.-in-nursing/#tab6">Upcoming Tours</a></span><span class="portletTopRight"></span></h1>
					</header>
					<div class="wrapper">
						<p><strong>The school of Nursing holds information sessions and tours for high school students.</strong></p>
						<ul>
							<li><strong>September 14th @ 2 p.m.</strong></li>
							<li><strong>October 19th @ 2 p.m.</strong></li>
							<li><strong>October 26th @ 2 p.m.</strong></li>
							<li><strong>November 9th @ 2 p.m.</strong></li>
							<li><strong>November 16th @ 2 p.m.</strong></li>
						</ul><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
					</div>
				</section>
				<section class="span3">
					<header>
						<h1><span class="portletTopLeft"></span><span><a class="tile" href="https://louisville.edu/nursing/nightingale-awards">Nightingale Awards</a></span><span class="portletTopRight"></span></h1>
					</header>
					<div class="wrapper">
						<p><a title="" href="http://louisville.edu/nursing/nightingale-awards/images/2018-nightingale-logo-8th" class="internal-link" target="_self"><img src="http://louisville.edu/nursing/nightingale-awards/images/2018-nightingale-logo-8th" alt="2018 Florence Nightingale Logo - November 8th" class="image-inline" title="2018 Florence Nightingale November 8th" /></a></p>
						<p>Honoring registered nurses (RN) who, like Florence Nightingale, excel in providing patient care, impacting the profession of nursing and/or improving the overall health of citizens living in Kentucky or Southern Indiana through practice, teaching, research, and/or service.</p><span class="portletBottomLeft"></span><span class="portletBottomRight"></span>
					</div>
				</section>
			</div>


		</div>

		<div id="prefooter">
			<div class="container">
				<div class="row-fluid">
					<div class="span3">
						<h1>School of Nursing</h1><address class="prefooter-address">
							<p>Health Sciences Campus, K-Wing<br /> 555 South Floyd Street<br /> Suite 3019<br /> Louisville, KY 40202</p>
						</address>
					</div>
					<div class="span2">
						<h1><em class="glyphicon glyphicon-time"></em> Office Hours</h1>
						<p>M-F 8:00 am to 5:00 pm</p>
						<p>No Weekend or Holiday Hours</p>
					</div>
					<div class="span2">
						<h1><em class="glyphicon  icon-question-sign"></em> Contact</h1>
						<p><em class="glyphicon glyphicon-phone"></em>1-877-81-NURSE</p>
						<p><em class="glyphicon glyphicon-phone"></em>502-852-5825</p>
						<p><a href="mailto:karen.rose@louisville.edu"><em class="glyphicon glyphicon-envelope"></em> Email</a></p>
						<p>View more <a href="http://louisville.edu/nursing/contact">contact information</a>.</p>
					</div>
					<div class="span2">
						<h1><em class="glyphicon icon-info-sign"></em> About</h1>
						<p><a class="internal-link" href="resolveuid/e4e139cebf564c05964f7100dd4ae803">About the School</a></p>
						<p><a href="http://louisville.edu/nursing/dean">Office of the Dean</a></p>
						<p><a href="http://louisville.edu/nursing/directory">Directory</a></p>
						<p><a class="internal-link" href="resolveuid/e4e139cebf564c05964f7100dd4ae803">Accreditation</a></p>
					</div>
					<div class="span3">
						<h1><em class="glyphicon glyphicon-comment"></em> Giving</h1>
						<div class="row-fluid">
							<div class="span6">
								<p><a href="http://louisville.edu/nursing/giving">Giving to the SON</a></p>
								<h1><em class="glyphicon glyphicon-comment"></em> Social Media</h1>
								<div class="row-fluid">
									<div class="span6">
										<p><a class="external-link" href="https://www.facebook.com/UofLSchoolOfNursing" target="_self" title="">Facebook</a></p>
										<p><a href="https://twitter.com/uofl_son">Twitter</a></p>
										<p><a class="external-link" href="https://www.youtube.com/channel/UCLB1KxFIe6ZP4FMxWMqaisQ" target="_self" title="SON Nursing Site">YouTube<br /></a></p>
									</div>
								</div>
							</div>
							<p><a class="external-link" href="http://https://www.youtube.com/channel/UCLB1KxFIe6ZP4FMxWMqaisQ" target="_self" title="SON Nursing Site"><br /></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer class="grey">
		<div class="container">
			<div class="row hidden-phone">
				<div class="span3">
					<ul class="nav nav-pills">
						<li id="copy">
							<a title="Go to louisville.edu" rel="tooltip" href="http://louisville.edu/">
								© University of Louisville
							</a>
						</li>
					</ul>
				</div>
				<div class="span7">
					<ul class="nav nav-pills">
						<li>
							<a href="http://louisville.edu/contact.html">Contact</a>
						</li>
						<li>
							<a href="http://louisville.edu/privacy-statement">Privacy Statement</a>
						</li>
						<li class="dropdown dropup">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Apply
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://louisville.edu/admissions/apply">Undergraduate</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/admissions/apply/transfer/">Transfer</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://graduate.louisville.edu/">Graduate</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/dental/dmd/admission/">Dentistry</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://www.law.louisville.edu/admissions">Law</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/medschool/apply">Medicine</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/business/apply">MBA</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/admissions/apply/international">International</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/online/admissions">Online Learning</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="http://louisville.edu/jobs">Jobs</a>
						</li>
						<li>
							<a href="http://louisville.edu/giving">Donate</a>
						</li>
						<li>
							<a href="http://louisville.edu/emergency">Emergency</a>
						</li>
					</ul>
					<!-- Fix this -->
				</div>
				<div class="span2">
					<ul class="nav nav-pills pull-right">
						<li id="login-bottom" class="dropdown dropup pull-right">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Login<i class="icon-cog icon-white"></i></a>
							<ul class="dropdown-menu bottom-up">
								<li>
									<a href="https://exchange.louisville.edu/">Exchange</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://outlook.com/cardmail.louisville.edu">CardMail</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://blackboard.louisville.edu/">Blackboard</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="login">Plone</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row visible-phone">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/contact.html"><i class="icon-chevron-right icon-white pull-right"></i>
								Contact
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/privacy-statement"><i class="icon-chevron-right icon-white pull-right"></i>
								Privacy Statement
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<button class="btn btn-navbar" data-target="#mobile-footer-about" data-toggle="collapse" type="button">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="footer-item">Apply</span>
							<div id="mobile-footer-about" class="nav-collapse collapse">
								<ul class="nav">
									<li>
										<a href="http://louisville.edu/admissions/apply">Undergraduate</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/admissions/apply/transfer/">Transfer</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://graduate.louisville.edu/">Graduate</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/dental/dmd/admission/">Dentistry</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://www.law.louisville.edu/admissions">Law</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/medschool/apply">Medicine</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/business/apply">MBA</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/admissions/apply/international">International</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/online/admissions">Online Learning</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/jobs"><i class="icon-chevron-right icon-white pull-right"></i>
								Jobs
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/giving"><i class="icon-chevron-right icon-white pull-right"></i>
								Donate
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/emergency"><i class="icon-chevron-right icon-white pull-right"></i>
								Emergency
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<button class="btn btn-navbar" data-target="#mobile-footer-login" data-toggle="collapse" type="button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="footer-item">Login</span>
						<div id="mobile-footer-login" class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="https://exchange.louisville.edu/">Exchange</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://outlook.com/cardmail.louisville.edu">CardMail</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://blackboard.louisville.edu/">Blackboard</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="login">Plone</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a title="Go to louisville.edu" rel="tooltip" href="http://louisville.edu/">
					© University of Louisville
				</a>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/++resource++uofl.p4basetheme.javascripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/++resource++uofl.p4basetheme.javascripts/jquery-noconflict.js"></script>
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/++resource++uofl.p4basetheme.javascripts/plugins.js"></script>
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/++resource++uofl.p4basetheme.javascripts/jquery.fullcalendar.min.js"></script>
	<script type="text/javascript" src="//customer.cludo.com/scripts/bundles/search-script.min.js"></script>
	<script type="text/javascript" src="http://louisville.edu/nursing/portal_javascripts/UofL%20Base%20Theme/++resource++uofl.p4basetheme.javascripts/cludo.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];

		_gaq.push(['_setAccount', 'UA-51499877-3']);
		_gaq.push(['_setDomainName', 'none']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);

		_gaq.push(['_setAccount', 'UA-2669423-1']);
		_gaq.push(['_setDomainName', 'none']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		setTimeout('_gaq.push([\'_trackEvent\', \'NoBounce\', \'Over 10 seconds\'])', 10000);

		//This is a function to alter outbound link to enable analytics tracking
		function recordOutboundLink(link, category, action, opt_label) {
			_gat._getTrackerByName()._trackEvent(category, action, opt_label);

			target = link.target.toLowerCase();

			if (target == '' || target == "_self" || target == "_parent" || target == "_top") {
				setTimeout('document.location = "' + link.href + '"', 100);
			}
		}

		function checkURLforfiletype(path) {
			filetypes = [".pdf", ".xls", ".xlsx", ".ppt", ".pptx", ".doc", ".docx", ".txt", ".csv", ".mov", ".mp3"];
			var arraylen = filetypes.length;
			for (var i = 0; i < arraylen; i++) {
				if (path.toLowerCase().indexOf(filetypes[i]) != -1) {
					return true;
				}
			}
			return false;
		}

		jqbs(document).ready(function () {
			jqbs(function () {
				jqbs('#visual-portal-wrapper a').click(function () {
					if (this.hostname != "" && this.hostname.toLowerCase().indexOf(location.hostname) == -1 &&
						this.hostname.toLowerCase().indexOf("louisville.edu") == -1) {
						recordOutboundLink(this, 'Outbound Link', jq(this).attr('href'), 'Outbound Link');
					}
					else if (checkURLforfiletype(this.pathname)) {
						recordOutboundLink(this, 'File Download', jq(this).attr('href'), 'File Download');
					}
				});
			});
		});
	</script>
	<script src="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>